body{
    background: #000;
    color: white;
}

.container{
    margin: auto;
    border: 1px solid rgb(95, 91, 91);
    height: auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.container>h1>b{
    color: chocolate;
}
.main>p{
    padding-left: 70px;
    padding-right: 70px;
    font-size: 17px;
    font-weight: 600;
}
.img>img{
    width: 500px;
}
.link{
    display: flex;
    background: #919390;
    align-content: center;
    color: #000;
    padding: 10px;
   
}
#btn{
    padding: 10px;
    background: #7b8d52;
    color: aliceblue;
    font-weight: bold;
}
